fundo: #F3E5D8
tempo de preparação: fundo: #FEF6FB h3: #9E7D8B
h2: #A99796


fonte1: @import url(https://db.onlinewebfonts.com/c/3ae082b1ff6983179a84414e4877f28b?family=Old+Roman+W00+Bold);
font-family: "Old Roman W00 Bold";

fonte2: @import url(https://db.onlinewebfonts.com/c/7c3caf543ed48fcb119d52af1a8e0ebf?family=Futura+Now+Headline);
font-family: "Futura Now Headline";