@import url(https://db.onlinewebfonts.com/c/3ae082b1ff6983179a84414e4877f28b?family=Old+Roman+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/7c3caf543ed48fcb119d52af1a8e0ebf?family=Futura+Now+Headline);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura Now Headline";
}

body{
    background-color: #F3E5D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #fff;
    max-width: 500px;
    max-height: 1000px;
}
